
/* шир и выс считается включ отступы и границы*/
html {
  box-sizing: border-box; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Шрифт */

body {
font-family: 'TT Lakes'sans-serif;
 min-width: 320px;
}

.block {
    background-color: #F8F8F8;
    margin: 0 auto; /*блок по центру*/ 
     min-width: 320px;
  max-height: 597px;
}

.header {
    min-width: 320px;
}
/* HEADER */
.header__inner {
    display: flex; /*в линию*/
    align-items: center; /*выравн по вертикали*/
    gap: 16px; /*отступ между элем*/
    min-height: 88px;
    justify-content: center; /*выравн по горизонтали*/
    background-color: #FFFFFF;
    border-bottom: 1px solid #d9f2eb;  
}

.header__burger {
  width: 40px;
  height: 40px;    
}

.header__logo {
width: 96.55px;
height: 50.81px;
}

.header__divider{
    width: 2px;
    height: 32px;
    background: #EAEAEA;
}

.header__action--repair {
   width: 40px;
   height: 40px;
}

.header__action--search {
    width: 40px;
    height: 40px;
}

.header__action-text {
    display: none;
}

/*TITLE*/
.block__container {
    min-width: 304px;
    min-height: 40px;
    margin: 24px;
    margin-left: 0; /*прижим к левому краю*/
    margin-right: 16px;
}
.block__title {
   position: relative; /*якорь*/
   font-size: 28px;
   height: 40px;
   width: 288px;
   padding-left: 12px;
   line-height: 40px; /*расст между строк*/
}

.block__title::before {
    content: "";
    position: absolute;/*плавает внутри якоря*/
    left: 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
}
/*menu*/
.block__menu {
    overflow-x: auto;/*горизонт скролл*/
    scrollbar-width: none; /*firefox*/
    margin-bottom: 24px;
}

.block__menu::-webkit-scrollbar {
display: none;
} /*chrome/safari*/


.block__menu-list {
    display: flex;
    gap: 8px; /*отступы по горизонтали*/
    margin: 0;
    list-style: none; /*скрыть пункты меню*/
    padding-left: 16px;
}

.block__menu-sub {
    display: none;
}

.block__menu-item {
    box-sizing: border-box;
    white-space: nowrap; /*в одну строку*/
    padding: 8px 16px; /*отступ сверху снизу и со сторон*/
    background-color: #f8f8f8;
    color: #7E7E82;
}

.block__menu-item--brands {
    display: none;
}

.block__menu-item--active {
    background-color: #FFFFFF;
    border: 2px solid #b8ffec;
    min-height: 40px;
    max-width: 246px;
}
/*CONTENT*/
.block__content {
   min-width: 320px;
   max-height: 322px;
}

.block__actions {
    display: none;
    }



.block__text {
    font-size: 14px;
    line-height: 20px;
    max-width: 288px;
    min-height: 90px;
    padding-left: 16px;
    margin: 0;
    color: #1B1C21;
}

.block__text--more {
    display: none;
}

.block__text--desktop {
    display: none;
}

.block__read-more {
    display: inline-flex;
    align-items: center;/*выравн по вертикали*/
    gap: 8px;
    padding: 16px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.block__read-more::before {
    content: "";
    width: 7.41px;
    height: 10.29px;

    background-image: url(img/ic/icon.svg);
    background-repeat: no-repeat;/*картинка не повторяется*/
    background-size: contain; /*масштабирует картинку*/
    
}
/*IMAGE*/

.block__image img {
   display: block;
   max-width: 100%;
   height: auto;
}

@media (min-width: 768px) {

    .block {
        max-width: 768px;
        min-height: 504px;
        margin: 0 auto;    
    }

    .header__inner {
        justify-content: space-between;
        padding: 0 24px;
    }

    .header__logo {
        margin-right: auto;
    }

     .header__divider {
        width: 2px;
        height: 32px;
        background: #EAEAEA;
    }

     .block__container {
        max-width: none;
    }

    .block__title {
        padding-left: 20px;
    }

    .block__actions {
        display: none;
    }

    .header__action-text {
    display: none;
}

    .block__menu-list {
        padding-left: 34px;
    }

    .block__menu-sub {
    display: none;
}

    .block__menu-item--brands {
    display: none;
}

     .block__content {
        display: flex;
        gap: 48px;
        max-width: none;
        padding: 0 34px;
        margin-top: 16px;
    }

    .block__description {
        display: flex;
        flex-direction: column;
    }

    

    .block__text {
        display: flex;
        flex-direction: column;
        max-width: 348px;
        padding-left: 0;
        line-height: 20px;
    }

    .block__text--more {
    display: block;
    min-height: 0;
}

.block__text--desktop {
    display: none;
}

    .block__read-more {
        padding-left: 0;
        align-self: flex-start;
        margin-top: 16px;
    }

     .block__image {
        min-width: 360px;
    }

     .block__image img  {
       min-width: 360px;
       max-height: 208px;
    }

}



@media (min-width: 1120px) {
    .block {
    max-width: 1120px;
    margin: 0 auto;
    }

    .header__burger {
        display: none;
    }

    .header__logo {
        display: none;
    }

    .header__divider {
        display: none;
    }

    .header__inner {
      display: none;
    }

    .block__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

     .block__title {
        padding-left: 30px;
    }

    .block__actions {
        display: flex;
        gap: 16px;
        padding-right: 32px;
    }

    .header__action {
        align-items: center;
        display: flex;
        gap: 8px;
    }


.block__menu {
    overflow: visible;
}

.block__menu-list {
    flex-wrap: nowrap;
    gap: 0;
}

.block__menu-sub {
    display: block;
    padding-left: 56px;
    color: #7E7E82;
}

.block__menu-item--brands {
    display: block;
    background-color: #FFFFFF;
}

.block__menu-item--devices {
    border: none;
    background-color: #f8f8f8;
}

.block__menu-item--extra {
    display: none;
}

.block__content {
    gap: 36px;
}

.block__description {
    max-width: 490px;
}



.block__text {
 max-width: 490px;   
}

.block__text--desktop {
    display: block;
    margin-top: 0;
    min-height: 0;
}

.block__read-more {
    margin-top: 16px;
    padding: 0;
}


.block__image img {
    min-width: 531px;
    border-radius: 6px;
    min-height: 307px;
}

}
